.header{
    text-align: center;
    background-color: lightblue;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    overflow: hidden; 
}

.navbar li {
    float: left;
    position: relative;
}

.navbar a {
    padding: 14px 20px;
    display: block;
    text-decoration: none;
    color: black;
}

.navbar li:hover .submenu {
    display: block;
}
